.forecastComp {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.forecastDays {
  background-color: rgba(210, 214, 249, 0.233);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 10px;
}

.nightContainer{
  margin-bottom: 10px;
}

.night{
  font-size: 12px;
  margin-bottom: 4px;
}

.morning{
  font-size: 12px;
 
}
.forecastDays img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.forecastDays .day {
  font-size: 12px;
}
.forecastDays .tempDay {
  
  font-size: 20px;
  position: relative;
}

.forecastDays .tempDay span {
  top: 0;
  font-size: 12px;
  position: absolute;
}

.forecastComp::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 730px) {
  .forecastComp {
    margin-top: 30px;
  }

  .forecastDays {
    background-color: rgba(210, 214, 249, 0.233);

    margin-left: 0px;
  }
}
