.hourlyComp {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(210, 214, 249, 0.233);
    padding: 10px;
    text-align: center;
  }
  
  .hourlyForecast {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  
    /* background-color: rgb(210, 214, 249, 0.5); */
  }
  
  .hourlyForecast::-webkit-scrollbar {
    display: none;
  }
  
  .hourlyCard {
    text-align: center;
    border-right: 1px solid rgb(230, 230, 230);
    margin-top: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
  }
  
  .hourlyTime {
    font-size: 12px;
  }
  .hourlyTemp {
    margin-top: 5px;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
  }
  
  
  .hourlyTemp .symbol {
    position: absolute;
    top: 0;
    font-size: 12px;
  }
  
  .hourlyCard img {
    margin-bottom: 5px;
  }


  @media only screen and (max-width: 730px) {


  .hourlyComp {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(210, 214, 249, 0.233);
    padding: 10px;
    margin-top: 30px;
    text-align: center;
  }

  .hourlyForecast {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

    /* background-color: rgb(210, 214, 249, 0.5); */
  }

  .hourlyCard {
    border-right: 1px solid rgb(230, 230, 230);
    margin-top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
  }

  .hourlyCard img {
    width: 35px;
    height: 35px;
  }

  .hourlyTime {
    font-size: 14px;
  }
  .hourlyTemp {
    margin-top: 5px;
    font-size: 20px;
    position: relative;
  }

  .hourlyTemp .symbol {
    position: absolute;
    top: 0;
    font-size: 12px;
  }

  .hourlyCard img {
    margin-bottom: 5px;
  }
}