.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .webName{
    font-size: 18px;
    width: 50%;
    color: inherit;
    font-weight: bold;
  }

  
  
  input:focus {
    outline: none;
  }
  
  input::placeholder {
    color: rgba(240, 248, 255, 0.459);
  }
  
  .searchContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
  }
  input {
    border: none;
    border-bottom: 1px solid rgba(240, 248, 255, 0.856);
    border-radius: 5px;
    width: 80%;
    height: 30px;
    padding: 5px;
    background: transparent;
    color: #f3f4f6;
    margin-right: 5px;
  }
  
  button {
    background-color: rgba(240, 248, 255, 0.459);
    height: 30px;
    border: none;
    padding: 5px;
    width: 20%;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
  }