.weatherComp {
  padding: 20px;
  background-color: rgba(210, 214, 249, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 20px;
}
.locationContainer{
  font-size: 20px;
  font-weight: 700;
}
.dtContainer {
  display: flex;

  align-items: center;
}

.dtContainer .time {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.tempContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.tempContainer .description {
  display: block;
  font-size: 20px;
}

.tempContainer .temp {
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

.tempContainer .temp span{
  font-weight: normal;
}

.weatherIcon img {
  height: 150px;
  width: 150px;
}

.tempContainer .symbol {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
}

.weatherDetails {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.weatherDetails p {
  margin: 0px 10px;
}

@media only screen and (max-width: 730px) {
  .weatherComp {
    padding: 20px;
    background-color: rgba(210, 214, 249, 0.233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 0px;
  }

  .weatherIcon img {
    height: 150px;
    width: 150px;
  }
}
